* {
    scrollbar-width: thin;
    scrollbar-color: #969696 #FAFBFC;
}

/* Works on Chrome/Edge/Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #FAFBFC;
}

*::-webkit-scrollbar-thumb {
    background-color: #969696;
    border-radius: 18px;
    border: 3px solid #FAFBFC;
}

.r-animate,
.ant-col,
.ant-card,
.ant-avatar,
img{
    //-webkit-animation: slide-up-fadeIn .8s ease 0s 1 normal forwards;
    //animation: slide-up-fadeIn .8s ease 0s 1 normal forwards;
}

@-webkit-keyframes slide-up-fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slide-up-fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
