@layout-body-background: #FFFFFF;
@layout-header-background: #3C3C3C;

@primary-color: #FB0028; // primary color for all components
@secondary-color: #F7AB1A;
@black: #3C3C3C;
@link-color: #FB0028; // link color
@success-color: #f5aa1b; // success state color
@warning-color: #F7AB1A; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 16px; // major text font size
@heading-color: #494949; // heading text color
@text-color: #3C3C3C; // major text color
@text-color-secondary: #4F4F4F; // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 6px; // major border radius
@border-color-base: #ECECEC; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers
@btn-height-lg: 45px;
@btn-height-base: 36px;
@input-height-lg: 45px;
@input-height-base: 36px;

@font-family: Inter, 'Avenir', 'Avenir Book', 'Calibre', "Helvetica Neue", Helvetica, Arial, sans-serif;
